<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->



<root>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SecureApp</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>


    <session-config>
        <session-timeout>30</session-timeout> <!-- 30 minutes -->
        <cookie-config>
            <http-only>true</http-only> 
            <secure>true</secure>  
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
</root>

